{% extends "base.html" %}

{% block title %}Wu-Tang Clan Ain't Nothing to Fuck With{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"
                          {% elif title %} {{ title }}
                          {% else %}Wu-Tang Clan Ain't Nothing to Fuck With
                          {% endif %}
{% endblock %}

<!-- the content of this page consists of
  all the entries -->
  <div class="row">

    {% block content %}
    <div class="col-md-7">
      {% for entry in object_list %}
      {% if search %}
      {% set entry = entry.entry %}
      {% endif %}

      <!-- a link to the relevant page -->
      <h3>
        <a href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
          {{ entry.title }}
        </a>
      </h3>
      <!-- a preview of the content
      as well as information on when the post was created -->
      <p>{{ entry.html_content_preview(200)}}</p>
      <p><small><i>Created {{ entry.timestamp | datetimeformat('%m/%d/%Y at %I:%M %p') }}</i></small></p>

      {% endfor %}
    </div>
    <div class="col-md-5">
      <img src="../static/images/jtree.png" class="img-rounded img-responsive" alt="Joshua Tree">
    </div>
  </div>

  <div class="container">
    {% include "includes/pagination.html" %}  
  </div>
  
  {% endblock %}